<body>
<div class="nav-item">
<h1>PROFILE</h1>
<div class="home-buttons">
<% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class:"sign-out"%>
</div>
</div>
<hr/> 
    <p> Email: <%= current_user.email %> </p>
    <p> First name: <%= current_user.first_name %> </p>
    <p> Last name: <%= current_user.last_name %> </p>
    <% end %>
    
    <%= link_to "Edit Account", edit_user_registration_path, class:"edit"%>
</body>